:root {
  --input-height: 50px;
  --navy-blue: #05445e;
  --blue-grotto: #189ab4;
  --blue-green: #75e6da;
  --baby_blue: #d4f1f4;
}

#root {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
